<mat-card>
  <div class="row" style="justify-content: center">
    <img src="../../../assets/logo.png" alt="Logo da RealizaCred">
  </div>
  <mat-card-content style="margin-top: 50px; text-align: center">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p>
      Digite seu e-mail e envie para receber um link para alteração de senha dentro de alguns minutos.
      Caso não tenha recebido. Verifique a caixa de spam.
    </p>
    <p>
      <mat-form-field>
        <input type="text" matInput placeholder="E-mail" formControlName="email">
      </mat-form-field>
    </p>

    <p *ngIf="error" class="error" style="width: auto;">
      {{ error }}
    </p>

    <div>
      <button
      class="btn btn-primary"
      style="color: #fff;
      background-color: #0d6efd;
      border-color: #0d6efd;"
      type="submit"
      mat-button
      >
        Enviar
      </button>
    </div>

    </form>
  </mat-card-content>
</mat-card>
