<div>
  <div class="row" style="justify-content: center; margin-bottom: 3rem;">
    <img src="../../../assets/logo-psd.png" class="col-md-12" alt="Logo da Realizacred">
  </div>
  <div class="login-container">
    <div style="margin-top: 50px; text-align: center">
      <div class="row">
        <div>
          <p>
            Digite seu e-mail e envie para receber um link para alteração de senha dentro de alguns minutos.
            Caso não tenha recebido. Verifique a caixa de spam.
          </p>
        </div>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-12">
            <input type="text" placeholder="E-mail" formControlName="email">
          </div>
        </div>

      <p *ngIf="error" class="error" style="width: auto;">
        {{ error }}
      </p>

      <div>
        <button
        class="button-nova-proposta-style"
        type="submit"
        >
          Enviar
        </button>
      </div>

      </form>
    </div>
  </div>
</div>
