
<div>
  <div class="row" style="flex-direction: row-reverse;">
    <span (click)="closeModal()" type="button" class="btn-close" aria-label="Close" style="cursor: pointer;"></span>
  </div>
  <div class="row" style="justify-content: space-between;">
    <h3 class="col-md-6">
      Uploads
    </h3>
  </div>
  <div>
    <div *ngFor="let upload of uploads" class="row" style="margin-top: 1em;">
      <div class="form-group col-md-10">
        <a class="form-control link-primary" style="cursor: pointer;" (click)="downloadUpload(upload.id)">{{ upload.upload_name }}</a>
      </div>
      <div class="form-group col-md-2" style="display: flex; align-self: end;">
        <button class="btn btn-secondary icofont-trash" (click)="removeUpload(upload.id)"></button>
      </div>
    </div>

    <div *ngFor="let file of files" class="row" style="margin-top: 1em;">
      <div class="form-group col-md-10">
        <a class="form-control link-primary" style="cursor: pointer;">{{ file.name }}</a>
      </div>
      <div class="form-group col-md-2" style="display: flex; align-self: end;">
        <button class="btn btn-secondary icofont-trash" (click)="removeFile(file)"></button>
      </div>
    </div>
    <div class="form-group" style="margin-top: 1em; display: flex; justify-content: space-between;">
      <button type="button" (click)="closeModal()" class="btn btn-secondary">Sair</button>
    </div>
  </div>

</div>
