<div class="row col-md-12" style="flex-direction: row-reverse;">
  <span [swal]="deleteSwal" type="button" class="btn-close" aria-label="Close" style="cursor: pointer;"></span>
</div>
<div class="row">
  <h3 class="col-md-6">
    Proposta {{ this.setProposalCodeLabel() }}
  </h3>
  <h3 class="col-md-6">
    Informações do cliente
  </h3>
  <form [formGroup]="form" class="col-xl-6" (ngSubmit)="saveProposal()">
    <div class="row">
      <div *ngIf="editing" class="form-group col-md-6">
        <label for="status">Status Proposta</label>
        <select type="text" formControlName="status" id="status" class="form-control">
          <option value="">Selecione</option>
          <option *ngFor="let status of statuses" [value]="status.id">{{status.status_description}}</option>
        </select>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="customer">Cliente</label>
          <ng-multiselect-dropdown
            [data]="customers"
            [disabled]="notEditableByUser()"
            [(ngModel)]="selectedCustomer"
            (onSelect)="fillCustomerInfoRightSide()"
            formControlName="customer"
            [settings]="customerDropdownSettings"
          >
          </ng-multiselect-dropdown>
        </div>
      </div>
      <div class="form-group col-md-8">
        <label for="contractType">Tipo do contrato</label>
        <select formControlName="contract_type" type="text" class="form-control" id="contractType">
          <option value="">Selecione</option>
          <option value="Novo">Novo</option>
          <option value="Portabilidade">Portabilidade</option>
          <option value="Refinanciamento">Refinanciamento</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="form-group ">
        <label for="operationData">Dados da operação e Informações adicionais</label>
        <textarea formControlName="operation_data" maxlength="4000" type="text" class="form-control" id="operationData">
        </textarea>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label for="filedescription">Informação uploads</label>
        <input
            formControlName="file_description"
            id="filedescription"
            type="text"
            class="form-control">
        <div *ngIf="f.file_description.touched && f.file_description.invalid" class="alert alert-danger">
            <div *ngIf="f.file_description.errors && f.file_description.errors.required">Informação uploads is required.</div>
            <div *ngIf="f.file_description.errors && f.file_description.errors.minlength">Informação uploads should be 3 character.</div>
        </div>
      </div>
      <div class="form-group col-md-3">
          <label for="files">Arquivos: ({{ uploads.length + myFiles.length }})</label>
          <input
              style="width: 9rem"
              formControlName="files"
              id="files"
              type="file"
              multiple
              class="form-control"
              (change)="onFileChange($event)">
          <div *ngIf="f.files.touched && f.files.invalid" class="alert alert-danger">
              <div *ngIf="f.files.errors && f.files.errors.required">Files is required.</div>
          </div>
      </div>
      <div class="form-group col-md-4" style="display: flex; align-self: end;">
        <button type="button" [disabled]="uploads.length <= 0 && myFiles.length <= 0" class="btn btn-primary" (click)="openUploadsInfo()">Detalhes downloads</button>
      </div>
    </div>
    <div *ngIf="proposal.id && editing">
      <div *ngIf="form.controls['status'].value === '4'">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="institute">Instituição</label>
            <ng-multiselect-dropdown
              [settings]="institutesDropdownSettings"
              [data]="institutes"
              [(ngModel)]="selectedInstitute"
              formControlName="institute"
            >
            </ng-multiselect-dropdown>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="finalValue">Valor final</label>
            <input type="text" formControlName="final_value" prefix="R$ " [allowNegativeNumbers]="false" mask="separator.2" thousandSeparator="." id="finalValue" class="form-control">
          </div>
          <div class="form-group col-md-6">
            <label for="fee">Taxa</label>
            <input type="text"
            formControlName="fee"
            id="fee"
            class="form-control"
            suffix=" %"
            [allowNegativeNumbers]="false"
            thousandSeparator="."
            mask="separator.2">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="comissionValue">Valor comissão</label>
            <input type="text"
              formControlName="comission_value"
              id="comissionValue"
              class="form-control"
              prefix="R$ "
              [allowNegativeNumbers]="false"
              mask="separator.2"
              thousandSeparator=".">
          </div>
          <div class="form-group col-md-6">
            <label for="comissionPercentage">Porcentagem comissão</label>
            <input type="text"
              readonly
              formControlName="comission_percentage"
              id="comissionPercentage"
              class="form-control"
              suffix=" %"
              [dropSpecialCharacters]="false"
              mask="percent.2">
          </div>
          <div>
            <div *ngIf="form.hasError('invalidComission')" class="alert alert-danger" style="margin-top: 3px;">
              Valor da comissão não pode ser maior que o valor final
            </div>
          </div>
        </div>

        <div class="row">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="contractStatus">Status contrato</label>
              <select type="text" formControlName="contract_status" id="contractStatus" class="form-control">
                <option value="">Selecione</option>
                <option value="1">Enviado</option>
                <option value="2">Assinado</option>
                <option value="3">Pago</option>
              </select>
            </div>
          </div>
          <div *ngIf="!proposal.contract_upload" class="form-group col-md-8">
            <label for="contractUpload">Upload Contrato</label>
            <input
              formControlName="contract_upload"
              id="contractUpload"
              type="file"
              class="form-control"
              (change)="onContractChange($event)"
            >
          </div>
        </div>
        <div *ngIf="proposal.contract_upload" class="row">
          <div class="form-group col-md-10">
            <label for="contractLink">Download do Contrato</label>
            <a class="form-control link-primary" style="cursor: pointer;" id="contractLink" (click)="downloadContract(proposal.contract_upload)">{{ proposal.contract_upload }}</a>
          </div>
          <div class="form-group col-md-2" style="display: flex; align-self: end;">
            <button type="button" class="btn btn-secondary icofont-trash" (click)="removeContract()"></button>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-12">
            <label for="contractDescription">Informações do contrato</label>
            <textarea type="text" formControlName="contract_description" id="contractDescription" class="form-control"></textarea>
          </div>
        </div>
      </div>
      <div *ngIf="form.controls['status'].value === '5'" class="form-group">
        <label for="reprovalDescription">Motivo reprovação</label>
        <textarea formControlName="reproval_description" type="text" class="form-control" id="reprovalDescription"></textarea>
      </div>
    </div>
    <div class="form-group" style="margin-top: 1em; display: flex; justify-content: space-between;">
      <button type="button" [swal]="deleteSwal" class="btn btn-secondary">Sair</button>
      <button [disabled]="form.invalid || notEditableByUser()" type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </form>

  <form class="col-xl-6" [formGroup]="customerForm">
    <div class="row">
      <div class="form-group col-md-12">
        <label for="name">Nome completo</label>
        <input formControlName="name" type="text" class="form-control" id="nome" placeholder="Nome completo">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="cpfCnpj">Data de nascimento</label>
        <input formControlName="birthDate" type="date" class="form-control" id="cpfCnpj">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="identity">R.G</label>
        <input formControlName="identity" mask="00.000.000-0" type="text" class="form-control" id="identity" placeholder="00.000.000-0">
      </div>
      <div class="form-group col-md-6">
        <label for="inputAddress">Data de expedição R.G</label>
        <input formControlName="identityExpedition" type="date" class="form-control" id="identityExpedition">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">CPF</label>
        <input formControlName="cpfCnpj" type="text" class="form-control" mask="CPF_CNPJ" id="cpfCnpj" placeholder="000.000.000-00">
      </div>
      <div class="form-group col-md-6">
        <label for="civilState">Estado civil</label>
        <select formControlName="civilState" type="text" class="form-control" id="civilState">
          <option value="">Selecione</option>
          <option value="Solteiro (a)">Solteiro (a)</option>
          <option value="Casado (a)">Casado (a)</option>
          <option value="Viúvo (a)">Viúvo (a)</option>
          <option value="Divorciado (a)">Divorciado (a)</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="mothersName">Nome da Mãe</label>
      <input formControlName="mothersName" type="text" class="form-control" id="mothersName" placeholder="Nome da Mãe">
    </div>
    <div class="form-group">
      <label for="fathersName">Nome do Pai</label>
      <input formControlName="fathersName" type="text" class="form-control" id="fathersName" placeholder="Nome do Pai">
    </div>

    <div class="row">
      <div class="form-group col-md-6" style="margin-top: 1em;">
        <label for="phoneNumber">Telefone</label>
        <input formControlName="phoneNumber" type="text" class="form-control" mask="(00) 0000-0000" id="phoneNumber" placeholder="(xx) 9999-9999">
      </div>
      <div class="form-group col-md-6" style="margin-top: 1em;">
        <label for="cellphone">Celular</label>
        <input formControlName="cellphone" type="text" class="form-control" mask="(00) 0000-0000||(00) 0 0000-0000" id="cellphone" placeholder="(xx) 99999-9999">
      </div>
    </div>

    <div class="form-group">
      <label for="location">Cep</label>
      <input formControlName="cep" type="text" class="form-control" id="location" mask="00000-000" placeholder="00000-000">
    </div>

    <div class="row">
      <div class="form-group col-md-10">
        <label for="address">Endereço</label>
        <input formControlName="address" type="text" class="form-control" id="address" placeholder="Endereço">
      </div>

      <div class="form-group col-md-2">
        <label for="number">Número</label>
        <input formControlName="number" type="text" class="form-control" id="number" placeholder="Número">
      </div>
    </div>
    <div class="form-group">
      <label for="district">Bairro</label>
      <input formControlName="district" type="text" class="form-control" id="district" placeholder="Bairro">
    </div>

    <div class="form-group">
      <label for="city">Cidade</label>
      <input formControlName="city" type="text" class="form-control" id="city" placeholder="Cidade">
    </div>

    <div class="form-group">
      <label for="state">Estado</label>
      <input formControlName="state" type="text" mask="SS" class="form-control" id="state" placeholder="Estado">
    </div>

    <div class="form-group">
      <label for="complement">Complemento</label>
      <input formControlName="complement" type="text" class="form-control" id="complement" placeholder="Complemento">
    </div>

    <div class="form-group">
      <label for="placeOfBirth">Cidade de nascimento</label>
      <input formControlName="placeOfBirth" type="text" class="form-control" id="placeOfBirth" placeholder="Cidade de nascimento">
    </div>

    <div class="row">
      <div class="form-switch" style="margin-top: 1em; margin-bottom: 1em; padding-left: 10px;">
        <label>Possui imóvel próprio</label>
        <input style="margin-left: 10px;" type="checkbox" formControlName="ownHouse" class="form-check-input" id="ownHouse">
      </div>
    </div>

    <div class="form-group">
      <label for="inputAddress">E-mail</label>
      <input formControlName="email" placeholder="user@example.gov" list="defaultEmails" size="64" maxlength="256" type="email" class="form-control" id="email" placeholder="E-mail">
      <datalist id="defaultEmails">
        <option value="@hotmail.com">
        <option value="@yahoo.com.br">
        <option value="@gmail.com">
        <option value="@starkindustries.gov.br">
        <option value="@outlook.com">
      </datalist>
    </div>

    <div class="form-group" style="margin-top: 1em;">
      <label for="firstReferralName">Nome Referência 1</label>
      <input type="text" formControlName="firstReferralName" class="form-control" id="firstReferralName">
    </div>

    <div class="form-group" style="margin-top: 1em;">
      <label for="firstReferralPhone">Telefone/Celular Referência 1</label>
      <input type="text" formControlName="firstReferralPhone" mask="(00) 0000-0000||(00) 0 0000-0000" class="form-control" id="firstReferralPhone">
    </div>

    <div class="form-group" style="margin-top: 1em;">
      <label for="secondReferralName">Nome Referência 2</label>
      <input type="text" formControlName="secondReferralName" class="form-control" id="secondReferralName">
    </div>

    <div class="form-group" style="margin-top: 1em;">
      <label for="secondReferralPhone">Telefone/Celular Referência 2</label>
      <input type="text" formControlName="secondReferralPhone" mask="(00) 0000-0000||(00) 0 0000-0000" class="form-control" id="secondReferralPhone">
    </div>

    <div class="form-group">
      <label for="job">Ocupação/Profissão</label>
      <input formControlName="job" type="text" class="form-control" id="job" placeholder="Ocupação/Profissão">
    </div>

    <div class="form-group" style="margin-top: 1em;">
      <label for="partnersName">Nome conjugê</label>
      <input type="text" formControlName="partnersName" class="form-control" id="partnersName" placeholder="Nome conjugê">
    </div>

    <div class="form-group" style="margin-top: 1em;">
      <label for="partnersCPF">CPF conjugê</label>
      <input type="text" formControlName="partnersCPF" mask="CPF_CNPJ" placeholder="000.000.000-00" class="form-control" id="partnersCPF">
    </div>

    <div class="form-group">
      <label for="observation">Observação</label>
      <textarea
      formControlName="observation"
      type="text"
      class="form-control"
      id="observation"
      placeholder="Local"
      maxlength="2000"
      >
      </textarea>
    </div>
  </form>
</div>

<swal
  #deleteSwal
  title="Os dados não salvos serão perdidos ao sair."
  text="Esssa ação não pode ser desfeita."
  icon="question"
  [showCancelButton]="true"
  [focusCancel]="true"
  (confirm)="onNoClick()">
</swal>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
