:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}

img {
  height: 150px;
  width: 500px;
}

.button-nova-proposta-style {
  color: #fff;
  background: rgb(120,128,42);
  background: linear-gradient(180deg, rgba(120,128,42,1) 0%, rgba(156,165,58,1) 99%);
  margin: 1rem;
  height: 3.563rem;
  width: 15.313rem;
  box-shadow:0px 20px 20px #d8d8d8;
  border: none;
}

.login-container {
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  width: 30.313rem;
  height: 30.313rem;
  align-items: center;
  flex-direction: column;
}

input {
  width: 80%;
}

