<div>
  <div class="row" style="justify-content: center; margin-bottom: 3rem;">
    <img src="../../../assets/logo-psd.png" class="col-md-12" alt="Logo da Realizacred">
  </div>
</div>
<div class="login-container">
  <div style="margin-top: 50px; text-align: center">
    <form style="text-align: center;" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div>
          <p>
            Digite sua nova senha e clique em Enviar.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <input type="text" matInput placeholder="Nova senha" formControlName="password">
        </div>
      </div>

    <p *ngIf="error" class="error">
      {{ error }}
    </p>

    <div>
      <button
      class="button-nova-proposta-style"
      type="submit"
      >
        Enviar
      </button>
    </div>

    </form>
  </div>
</div>
