<div class="row">
  <nav *ngIf="user" class="col-md-2 navbar navbar-expand-lg">
    <a class="navbar-brand"routerLink="/proposals"><img class="corner-logo" src="../assets/realizacred-cornerbar.jpg" alt="Logo da RealizaCred">
    </a>
    <div class="nav flex-column nav-pills side-bar-spaces" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <div class="side-bar-align">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" routerLink="/proposals" role="tab" aria-controls="v-pills-home" aria-selected="true">
          <img class="icon-style" src="../assets/dashboard icon.png" />Home
        </a>
      </div>
      <div class="side-bar-align">
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" routerLink="/proposals" role="tab" aria-controls="v-pills-profile" aria-selected="false">
          <img class="icon-style" src="../assets/deliveries icon.png" />Propostas
        </a>
      </div>
      <div *ngIf="user.user.isAdmin" class="side-bar-align">
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" routerLink="/institutes" role="tab" aria-controls="v-pills-messages" aria-selected="false">
          <img class="icon-style" src="../assets/orders icon.png" /> Instituições
        </a>
      </div>
      <div *ngIf="user.user.isAdmin" class="side-bar-align">
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" routerLink="/users" role="tab" aria-controls="v-pills-settings" aria-selected="false">
          <img class="icon-style" src="../assets/team icon.png" />Usuários
        </a>
      </div>
      <div class="side-bar-align">
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" routerLink="/customers" role="tab" aria-controls="v-pills-settings" aria-selected="false">
          <img class="icon-style" src="../assets/clients icon.png" />Clientes
        </a>
      </div>
      <div class="side-bar-align">
        <a style="cursor: pointer;" class="nav-link" id="v-pills-settings-tab" data-toggle="pill" (click)="logout()" role="tab" aria-controls="v-pills-settings" aria-selected="false">
          <img class="icon-style" src="../assets/logout icon.png"/>Logout
        </a>
      </div>
    </div>
  </nav>

  <div class="col-md-10">
    <router-outlet></router-outlet>
  </div>
</div>

<notifier-container></notifier-container>
