<div class="mat-elevation-z8 padding-1">
  <h4>
    Instituições
  </h4>
  <mat-input-container class="row" style="text-align: end;">
      <!-- <input matInput placeholder="Buscar usuário" #input> -->
      <div>
        <button type="button" (click)="openInstituteForm()" class="btn btn-primary">Nova instituição</button>
      </div>
      <!-- <i (click)="openUserForm()" class="icofont-plus-circle icofont-2x"></i> -->
  </mat-input-container>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"> Nome </th>
        <!-- <th scope="col" [hidden]="true" class="text-align-center"> Visualizar </th> -->
        <th scope="col" class="text-align-center"> Editar </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let institute of institutesData.data">
        <td> {{institute.institute_name}} </td>
        <!-- <td [hidden]="true" class="text-align-center"><i class="icofont-eye"></i></td> -->
        <td class="text-align-center"><i (click)="editInstituteForm(institute)" class="icofont-edit"></i></td>
      </tr>
    </tbody>
  </table>

  <mat-paginator
    class="margin-top-2"
    (page)="changePage($event)"
    [length]="this.institutesData.total"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 15]">
  </mat-paginator>
</div>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
