:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.login-container {
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  width: 30.313rem;
  height: 30.313rem;
  align-items: center;
  flex-direction: column;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.input-width {
  width: 25rem;
  margin: 1rem;
  color: #aaaaaa;
}

.button-style {
  color: #fff;
  background: rgb(120,128,42);
  background: linear-gradient(180deg, rgba(120,128,42,1) 0%, rgba(156,165,58,1) 99%);
  margin: 1rem;
  height: 3.563rem;
  width: 25rem;
  box-shadow:0px 20px 20px #d8d8d8;
}

.esqueceu-senha-label {
  font-size: 0.833rem;
  color: #cccdcd;
}

a {
  font-size: 0.833rem;
  color: #eaeaea;
}

img {
  width: 18.163rem;
  height: 4.163rem;
}
